<div class="weekly" *ngIf="weeklyWeather">
  <div class="today">
    <div class="head">
      <h2>{{ weeklyWeather.city_name }}</h2>
      <p>Pazartesi</p>
    </div>
    <div class="content">
      <div class="content-item">
        <h2 class="title">Haftalık Hava Durumu Bilgisi</h2>
        <div class="weat-last-info">
          <div class="weat-weather">
            <h3>Sıcaklık:</h3>
            <p>28 °C</p>
          </div>
          <div class="weat-weather">
            <img [src]="iconLink + 'c01n' + '.png'" class="weat-icon" />
            <p>Gök Gürültülü</p>
          </div>
        </div>
        <div class="weat-info">
          <button
            type="button"
            class="week-info-item"
            *ngFor="let data of weeklyWeather.data"
          >
            <div class="week-head">
              <h3>{{ weeklyWeather.city_name }}</h3>
              <p>{{ getDayName(data.datetime) }}</p>
            </div>
            <div class="week-content">
              <img
                [src]="iconLink + data.weather.icon + '.png'"
                class="weat-icon"
              />
              <p>{{ data.weather.description }}</p>
            </div>
            <div class="week-footer">
              <button
                type="button"
                (click)="weeklyReadMore(data.datetime)"
                class="footer-read-more"
              >
                Detaylı Gör
                <i class="fa-solid fa-angle-right"></i>
              </button>
            </div>
          </button>
        </div>
        <div class="weat-read-more" *ngIf="weeklyWeatherData">
          <h2 class="title">
            {{ getDayName(weeklyWeatherData.datetime) }}'nin Hava Durum Bilgisi
          </h2>
          <div class="weat-info">
            <article class="weat-info-item">
              <h3>Maximum Sıcaklık</h3>
              <p>{{ weeklyWeatherData.max_temp }} °C</p>
            </article>
            <article class="weat-info-item">
              <h3>Minumum Sıcaklık</h3>
              <p>{{ weeklyWeatherData.min_temp }} °C</p>
            </article>
            <article class="weat-info-item">
              <h3>Nem</h3>
              <p>{{ weeklyWeatherData.rh }} %</p>
            </article>
            <article class="weat-info-item">
              <h3>Rüzgar Hızı</h3>
              <p>{{ weeklyWeatherData.wind_spd }} m/s</p>
            </article>
            <article class="weat-info-item">
              <h3>Rüzgar Yönü</h3>
              <p>{{ weeklyWeatherData.wind_cdir }}</p>
            </article>
            <article class="weat-info-item">
              <h3>Basınç</h3>
              <p>{{ weeklyWeatherData.pres }} hPa</p>
            </article>
            <article class="weat-info-item">
              <h3>Görüş Mesafesi</h3>
              <p>{{ weeklyWeatherData.vis }} km</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
