<div class="comments" *ngIf="logged; else elseLogged">
  <div class="user-info">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRSGsjVqQjJxn28kUedTik3qXE7x4mCtuPjVu1t6wa8-06bBu-lISI9sLFqZIBIQWvTPQ&usqp=CAU"
      alt=""
    />
  </div>
  <form
    class="comment-content"
    [formGroup]="commentForm"
    (ngSubmit)="comment()"
  >
    <div class="textarea-field">
      <textarea
        placeholder="Yorum metninizi giriniz..."
        [formControl]="Message"
      ></textarea>
      <div class="textarea-ets">
        <div class="error-message">
          <ng-container *ngIf="Message.invalid && Message.dirty">
            <p *ngIf="Message.errors?.['required']">Mesaj alanı zorunludur.</p>
            <p *ngIf="Message.errors?.['minlength']">
              Mesajınız minumum 300 karakter olmalıdır.
            </p>
            <p *ngIf="Message.errors?.['maxlength']">
              Mesajınız maximum 600 karakter olmalıdır.
            </p>
          </ng-container>
        </div>
        <button type="submit" class="share" [disabled]="!commentForm.valid">
          Paylaş
          <i class="fa-solid fa-paper-plane"></i>
        </button>
      </div>
      <span class="count">Karakter Sayısı: {{ Message.value.length }}</span>
    </div>
  </form>
</div>

<ng-template #elseLogged>
  <div class="comments">
    <div class="user-info">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRSGsjVqQjJxn28kUedTik3qXE7x4mCtuPjVu1t6wa8-06bBu-lISI9sLFqZIBIQWvTPQ&usqp=CAU"
        alt=""
      />
    </div>
    <form
      class="comment-content"
      [formGroup]="commentForm"
      (ngSubmit)="comment()"
    >
      <div class="textarea-field">
        <textarea
          placeholder="Yorum metninizi giriniz..."
          [formControl]="Message"
        ></textarea>
        <div class="textarea-ets">
          <div class="error-message">
            <ng-container *ngIf="Message.invalid && Message.dirty">
              <p *ngIf="Message.errors?.['required']">
                Mesaj alanı zorunludur.
              </p>
              <p *ngIf="Message.errors?.['minlength']">
                Mesajınız minumum 50 karakter olmalıdır.
              </p>
              <p *ngIf="Message.errors?.['maxlength']">
                Mesajınız maximum 600 karakter olmalıdır.
              </p>
            </ng-container>
          </div>
          <button type="submit" class="share" [disabled]="!commentForm.valid">
            Paylaş
            <i class="fa-solid fa-paper-plane"></i>
          </button>
        </div>
        <span class="count">Karakter Sayısı: {{ Message.value.length }}</span>
      </div>
    </form>
    <div class="logged-false">
      <h2>Yorum Yapmak İçin Giriş Yapınız</h2>
      <a routerLink="/auth" class="login">
        <p>Giriş Yap</p>
      </a>
    </div>
  </div>
</ng-template>
