.form {
  .p-inputgroup {
    margin-bottom: 10px;
  }

  ::ng-deep {
    p-fileUpload {
      .p-fileupload {
        margin-top: 10px !important;
      }
    }
  }
  .form-submit {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  .p-inputgroup {
    justify-content: space-between;
    .p-formgroup-inline {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
