<div class="tab">
  <button
    class="tab-btn"
    (click)="setActiveButton('current')"
    [ngClass]="{ active: activeButton === 'current' }"
    [disabled]="!cityQueryParam"
  >
    Anlık
  </button>
  <button
    class="tab-btn"
    (click)="setActiveButton('daily')"
    [ngClass]="{ active: activeButton === 'daily' }"
    [disabled]="!cityQueryParam"
  >
    Bugün
  </button>
  <button
    class="tab-btn"
    (click)="setActiveButton('weekly')"
    [ngClass]="{ active: activeButton === 'weekly' }"
    [disabled]="!cityQueryParam"
  >
    Haftalık
  </button>
</div>
<div class="tab-main">
  <app-current
    *ngIf="cityQueryParam && activeButton === 'current'"
    [currentWeather]="currentWeather"
  />
  <app-daily
    *ngIf="cityQueryParam && activeButton === 'daily'"
    [dailyWeather]="dailyWeather"
    [dailyWeatherData]="dailyWeatherData"
  />
  <app-weekly
    *ngIf="cityQueryParam && activeButton === 'weekly'"
    [weeklyWeather]="weeklyWeather"
    [weeklyWeatherData]="weeklyWeatherData"
  />
  <empty-city *ngIf="!cityQueryParam || cityQueryParam === ''" />
</div>
<city-comments *ngIf="cityQueryParam" />
