<section class="weat">
  <aside class="sidebar">
    <form
      class="input-field"
      [formGroup]="citfySearhForm"
      (ngSubmit)="search()"
    >
      <input
        type="text"
        placeholder="Şehir adı giriniz..."
        class="input"
        [formControl]="Name"
      />
      <button
        class="clear-input"
        type="button"
        *ngIf="Name.value"
        (click)="clearInput()"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
      <button class="search-input" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>

    <div class="aside-content">
      <h2 class="title">Anlık Hava Durumu Bilgisi</h2>
      <div class="instant-head">
        <h3>Gaziantep</h3>
        <div class="head-item">
          <p>Anlık</p>
          <p class="instant-date">2024/05/65</p>
        </div>
      </div>
      <div class="weat-last-info">
        <div class="weat-weather">
          <h3>Sıcaklık:</h3>
          <p>28 °C</p>
        </div>
        <div class="weat-weather">
          <img [src]="iconLink + 'c01n' + '.png'" class="weat-icon" />
          <p>Gök Gürültülü</p>
        </div>
      </div>
      <div class="instant-info">
        <div class="instant-foot">
          <h2 class="title">Hava Durumu Bilgisi</h2>
          <div class="instant-items">
            <article class="instant-item">
              <img src="assets/icons/wat.png" />
              <h4>Gök Gürültülü</h4>
            </article>
            <article class="instant-item">
              <h4>Maxiumum Sıcaklık:</h4>
              <p>50 °C</p>
            </article>
            <article class="instant-item">
              <h4>Minumum Sıcaklık:</h4>
              <p>35 °C</p>
            </article>
            <article class="instant-item">
              <h4>Nem:</h4>
              <p>55%</p>
            </article>
            <article class="instant-item">
              <h4>Rüzgar Hızı:</h4>
              <p>55</p>
            </article>
            <article class="instant-item">
              <h4>Rüzgar Yönü:</h4>
              <p>55</p>
            </article>
            <article class="instant-item">
              <h4>Basınç:</h4>
              <p>55 hPa</p>
            </article>
            <article class="instant-item">
              <h4>Görüş Mesafesi:</h4>
              <p>5 km</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <main class="main">
    <div class="tab">
      <button
        class="tab-btn"
        (click)="setActiveButton('current')"
        [ngClass]="{ active: activeButton === 'current' }"
      >
        Anlık
      </button>
      <button
        class="tab-btn"
        (click)="setActiveButton('daily')"
        [ngClass]="{ active: activeButton === 'daily' }"
      >
        Bugün
      </button>
      <button
        class="tab-btn"
        (click)="setActiveButton('weekly')"
        [ngClass]="{ active: activeButton === 'weekly' }"
      >
        Haftalık
      </button>
    </div>
    <div class="tab-main">
      <div class="today" *ngIf="activeButton == 'current'">
        <div class="head">
          <h2>Gaziantep</h2>
          <p>2024/58/54</p>
        </div>
        <div class="content">
          <div class="content-item">
            <h2 class="title">Anlık Hava Durumu Bilgisi</h2>
            <div class="weat-last-info">
              <div class="weat-weather">
                <h3>Sıcaklık:</h3>
                <p>28 °C</p>
              </div>
              <div class="weat-weather">
                <img [src]="iconLink + 'c01n' + '.png'" class="weat-icon" />
                <p>Gök Gürültülü</p>
              </div>
            </div>
            <div class="weat-info">
              <article class="weat-info-item">
                <h3>Sıcaklık</h3>
                <p>28 °C</p>
              </article>
              <article class="weat-info-item">
                <h3>Maximum Sıcaklık</h3>
                <p>50 °C</p>
              </article>
              <article class="weat-info-item">
                <h3>Minumum Sıcaklık</h3>
                <p>35 °C</p>
              </article>
              <article class="weat-info-item">
                <h3>Nem</h3>
                <p>55 %</p>
              </article>
              <article class="weat-info-item">
                <h3>Rüzgar Hızı</h3>
                <p>45</p>
              </article>
              <article class="weat-info-item">
                <h3>Rüzgar Yönü</h3>
                <p>45</p>
              </article>
              <article class="weat-info-item">
                <h3>Basınç</h3>
                <p>5 hPa</p>
              </article>
              <article class="weat-info-item">
                <h3>Görüş Mesafesi</h3>
                <p>5 km</p>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="today" *ngIf="activeButton == 'daily'">
        <div class="head">
          <h2>Gaziantep</h2>
          <p>2024/58/54</p>
        </div>
        <div class="content">
          <div class="content-item">
            <h2 class="title">Bugünün Hava Durumu Bilgisi</h2>
            <div class="weat-last-info">
              <div class="weat-weather">
                <h3>Sıcaklık:</h3>
                <p>28 °C</p>
              </div>
              <div class="weat-weather">
                <img [src]="iconLink + 'c01n' + '.png'" class="weat-icon" />
                <p>Gök Gürültülü</p>
              </div>
            </div>
            <div class="weat-info">
              <article class="weat-info-item">
                <h3>Maximum Sıcaklık</h3>
                <p>50 °C</p>
              </article>
              <article class="weat-info-item">
                <h3>Minumum Sıcaklık</h3>
                <p>35 °C</p>
              </article>
              <article class="weat-info-item">
                <h3>Nem</h3>
                <p>55 %</p>
              </article>
              <article class="weat-info-item">
                <h3>Rüzgar Hızı</h3>
                <p>45</p>
              </article>
              <article class="weat-info-item">
                <h3>Rüzgar Yönü</h3>
                <p>45</p>
              </article>
              <article class="weat-info-item">
                <h3>Basınç</h3>
                <p>5 hPa</p>
              </article>
              <article class="weat-info-item">
                <h3>Görüş Mesafesi</h3>
                <p>5 km</p>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="weekly" *ngIf="activeButton == 'weekly'">
        <div class="today">
          <div class="head">
            <h2>Gaziantep</h2>
            <p>Pazartesi</p>
          </div>
          <div class="content">
            <div class="content-item">
              <h2 class="title">Haftalık Hava Durumu Bilgisi</h2>
              <div class="weat-last-info">
                <div class="weat-weather">
                  <h3>Sıcaklık:</h3>
                  <p>28 °C</p>
                </div>
                <div class="weat-weather">
                  <img [src]="iconLink + 'c01n' + '.png'" class="weat-icon" />
                  <p>Gök Gürültülü</p>
                </div>
              </div>
              <div class="weat-info">
                <button type="button" class="week-info-item">
                  <div class="week-head">
                    <h3>Gaziantep</h3>
                    <p>Pazartesi</p>
                  </div>
                  <div class="week-content">
                    <img [src]="iconLink + 'c01n' + '.png'" class="weat-icon" />
                    <p>Gök Gürültülü</p>
                  </div>
                  <div class="week-footer">
                    <div class="footer-read-more">
                      Detaylı Gör
                      <i class="fa-solid fa-angle-right"></i>
                    </div>
                  </div>
                </button>
                <button type="button" class="week-info-item">
                  <div class="week-head">
                    <h3>Gaziantep</h3>
                    <p>Salı</p>
                  </div>
                  <div class="week-content">
                    <img [src]="iconLink + 'c01n' + '.png'" class="weat-icon" />
                    <p>Gök Gürültülü</p>
                  </div>
                  <div class="week-footer">
                    <div class="footer-read-more">
                      Detaylı Gör
                      <i class="fa-solid fa-angle-right"></i>
                    </div>
                  </div>
                </button>
                <button type="button" class="week-info-item">
                  <div class="week-head">
                    <h3>Gaziantep</h3>
                    <p>Çarşamba</p>
                  </div>
                  <div class="week-content">
                    <img [src]="iconLink + 'c01n' + '.png'" class="weat-icon" />
                    <p>Gök Gürültülü</p>
                  </div>
                  <div class="week-footer">
                    <div class="footer-read-more">
                      Detaylı Gör
                      <i class="fa-solid fa-angle-right"></i>
                    </div>
                  </div>
                </button>
                <button type="button" class="week-info-item">
                  <div class="week-head">
                    <h3>Gaziantep</h3>
                    <p>Perşembe</p>
                  </div>
                  <div class="week-content">
                    <img [src]="iconLink + 'c01n' + '.png'" class="weat-icon" />
                    <p>Gök Gürültülü</p>
                  </div>
                  <div class="week-footer">
                    <div class="footer-read-more">
                      Detaylı Gör
                      <i class="fa-solid fa-angle-right"></i>
                    </div>
                  </div>
                </button>
                <button type="button" class="week-info-item">
                  <div class="week-head">
                    <h3>Gaziantep</h3>
                    <p>Cuma</p>
                  </div>
                  <div class="week-content">
                    <img [src]="iconLink + 'c01n' + '.png'" class="weat-icon" />
                    <p>Gök Gürültülü</p>
                  </div>
                  <div class="week-footer">
                    <div class="footer-read-more">
                      Detaylı Gör
                      <i class="fa-solid fa-angle-right"></i>
                    </div>
                  </div>
                </button>
                <button type="button" class="week-info-item">
                  <div class="week-head">
                    <h3>Gaziantep</h3>
                    <p>Cumartesi</p>
                  </div>
                  <div class="week-content">
                    <img [src]="iconLink + 'c01n' + '.png'" class="weat-icon" />
                    <p>Gök Gürültülü</p>
                  </div>
                  <div class="week-footer">
                    <div class="footer-read-more">
                      Detaylı Gör
                      <i class="fa-solid fa-angle-right"></i>
                    </div>
                  </div>
                </button>
                <button type="button" class="week-info-item">
                  <div class="week-head">
                    <h3>Gaziantep</h3>
                    <p>Pazar</p>
                  </div>
                  <div class="week-content">
                    <img [src]="iconLink + 'c01n' + '.png'" class="weat-icon" />
                    <p>Gök Gürültülü</p>
                  </div>
                  <div class="week-footer">
                    <div class="footer-read-more">
                      Detaylı Gör
                      <i class="fa-solid fa-angle-right"></i>
                    </div>
                  </div>
                </button>
              </div>
              <div class="weat-read-more">
                <h2 class="title">Pazartesi'nin Hava Durum Bilgisi</h2>
                <div class="weat-info">
                  <article class="weat-info-item">
                    <h3>Maximum Sıcaklık</h3>
                    <p>50 °C</p>
                  </article>
                  <article class="weat-info-item">
                    <h3>Minumum Sıcaklık</h3>
                    <p>35 °C</p>
                  </article>
                  <article class="weat-info-item">
                    <h3>Nem</h3>
                    <p>55 %</p>
                  </article>
                  <article class="weat-info-item">
                    <h3>Rüzgar Hızı</h3>
                    <p>45</p>
                  </article>
                  <article class="weat-info-item">
                    <h3>Rüzgar Yönü</h3>
                    <p>45</p>
                  </article>
                  <article class="weat-info-item">
                    <h3>Basınç</h3>
                    <p>5 hPa</p>
                  </article>
                  <article class="weat-info-item">
                    <h3>Görüş Mesafesi</h3>
                    <p>5 km</p>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
