<div class="weat">
  <div class="sidebar">
    <div class="head">
      <div class="input-field">
        <div class="input-group">
          <input type="text" placeholder="Şehir arayın..." class="input" />
          <button type="button" class="clear-input">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <button type="submit" class="input-search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
    <div class="content">
      <img src="assets/icons/thunderstorm.png" class="content-img" alt="" />
      <div class="weat-infor">
        <h2>Mevcut Hava Durumu</h2>
        <h3>12°</h3>
        <p><strong>Pazartesi,</strong> 16:00</p>
      </div>
      <div class="weat-info">
        <h2>Güncel Hava Tahmini</h2>
        <article class="weat-info-item">
          <img src="assets/icons/mostly-cloudy.png" class="item-img" />
          Çoğunlukla Bulutlu
        </article>
        <article class="weat-info-item">
          <img src="assets/icons/rain.png" class="item-img" />
          Yağmur - 30%
        </article>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="head">
      <div class="daily-btn">
        <button class="active">Anlık</button>
        <button>Haftalık</button>
      </div>
    </div>
  </div>
</div>
