.btn {
  background-color: #4e75ff;
  border-radius: 4px;
  padding: 15px 18px;
  font-size: 16px;
  font-weight: 600;
  color: #f1f1f1;
  position: relative;
  overflow: hidden;
  border: 1px solid #f1f1f1;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    span,
    i {
      color: #1f1f1f;
    }
    &:hover {
      border: 1px solid #f1f1f1;
      &::before,
      &::after {
        width: 0%;
      }
    }
  }
  &:hover {
    border: 1px solid #1f1f1f;
    span,
    i {
      color: #1f1f1f;
    }
    &::before,
    &::after {
      width: 100%;
    }
  }
  &::before {
    content: "";
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.4s ease-in-out;
    border-radius: 4px;
  }
  &::after {
    content: "";
    background-color: #f1f1f1;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    transition: all 0.7s ease-in-out;
    border-radius: 4px;
  }
  span,
  i {
    position: relative;
    z-index: 5;
    transition: all 0.7s ease-in-out;
  }
}
