<div class="weather">
  <div class="weat-container">
    <div class="left-vector">
      <img src="./assets/imgs/shared/left-vector.png" />
    </div>
    <div class="ball-vector-green">
      <img src="./assets/icons/ellipse-green.png" />
    </div>
    <div class="ball-vector-blue">
      <img src="./assets/icons/ellipse-blue.png" />
    </div>
    <div class="weat">
      <div class="weat-inner">
        <h2>İstanbul<br />Hava Durumu</h2>
        <div class="week-info">
          <button class="active">Anlık</button>
          <button>Haftalık</button>
        </div>
      </div>
    </div>
    <div class="">
      <home-citys />
    </div>
  </div>
</div>
