<div class="weather">
  <div class="weat-container">
    <div class="left-vector">
      <img src="./assets/imgs/shared/left-vector.png" />
    </div>
    <div class="ball-vector-green">
      <img src="./assets/icons/ellipse-green.png" />
    </div>
    <div class="ball-vector-blue">
      <img src="./assets/icons/ellipse-blue.png" />
    </div>
    <main class="">
      <home-banner />
      <top-city-forecast />
      <home-map />
      <home-about />
      <home-blogs />
    </main>
  </div>
</div>
