.content {
  height: 100vh;
  background-color: #4e75ff;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px 0;
  .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    @media only screen and (max-width: 768px) {
      display: flex;
    }
    .logo-img {
      width: 60px;
    }
    h2 {
      font-size: 20px;
      color: #fff;
    }
  }
  .main {
    text-align: center;
    h2 {
      font-size: 270px;
      font-weight: 600;
    }
    .main-btn {
      border: 1px solid #f1f1f1;
      padding: 12px 15px;
      border-radius: 4px;
      color: #f1f1f1;
      font-weight: 600;
      font-size: 15px;
      transition: 0.3s;
      &:hover {
        background-color: #f1f1f1;
        border: 1px solid #1f1f1f;
        color: #4e75ff;
      }
    }
  }
  .foot {
    text-align: center;
    h3 {
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    p {
      font-size: 15px;
    }
  }
}
