.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 80px;
      }
      h1 {
        font-size: 25px;
      }
    }
    .nav {
      display: flex;
      align-items: center;
      gap: 15px;
      .nav-item {
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
        position: relative;
        transition: all 0.4s;
        &:hover,
        &.active {
          color: #4e75ff;
        }
        &:hover::before,
        &:hover::after,
        &.active::before,
        &.active::after {
          width: 75%;
        }
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 0%;
          background-color: #4e75ff;
          transition: all 0.3s ease-in-out;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 2px;
          width: 0%;
          background-color: #4e75ff;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .auth {
      display: flex;
      align-items: center;
      gap: 15px;
      .auth-item {
        background-color: #4e75ff;
        border-radius: 4px;
        padding: 10px 14px;
        transition: all 0.3s ease-in-out;
        font-size: 16px;
        font-weight: 600;
        &:hover {
          background-color: #315bf7;
          box-shadow: 0px 5px 20px rgba(49, 91, 247, 0.4);
        }
      }
    }
  }
}
